<!DOCTYPE html>
<html lang="en"

	class="h-100"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET'S STORE</title>
    <meta name="keywords" content="chó, mèo, chó con, chó cái, chó đực, thức ăn cho chó, chăm sóc chó cưng, hoàng thượng, boss, cún, sen, mèo con, mèo tam thể, mèo mun, cho, meo, hoang thuong, boss, cua hang thu cung" />
    <meta name="description" content="Website Dành Cho Chó Mèo - PET'S STORE" />
    <meta name="copyright" content="PET'S STORE" />
    <meta name="author" content="PET'S STORE" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/site.css" />
    <link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
</head>
<body>
    <div class="header">
        <div class="container">
          <div class="row">
            <img src="images/banner-1.png" alt="PET'S STORE">
          </div>

          <div class="container">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Dành cho chó</a></li>
                    <li><a href="#">Dành cho mèo</a></li>
                    <li><a href="#">Bài viết</a></li>
                    <li><a href="#">Liên hệ</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#modalSignup"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modalLogin"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
    </div>

    <div class="content">
      <div class="container">
        <div class="col-md-9">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            
            <div class="carousel-inner">
              <div class="item active">
                <img src="images/sliders/slider-1.png" alt="">
              </div>
              <div class="item">
                <img src="images/sliders/slider-2.png" alt="">
              </div>
              <div class="item">
                <img src="images/sliders/slider-3.png" alt="">
              </div>
              <div class="item">
                <img src="images/sliders/slider-4.png" alt="">
              </div>
            </div>
            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="panel panel-info panel-prod">
            <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i> Sản phẩm dành cho chó</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="images/products/3288_ao_t_ao_lien_quan_petcity_1.jpg" class="img-rounded" alt="Áo cho chó đẹp tuyệt vời">
                    <div class="caption">
                      <h4>Áo cho chó đẹp tuyệt vời</h4>
                      <p>Giá: 150.000 VNĐ</p>
                      <p><a href="#" class="btn btn-info" role="button"><i class="fa fa-shopping-cart"></i> Mua ngay</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="images/products/3392_khay_ve_sinh_cho_cho_xanh_petcity_1.jpg" class="img-rounded" alt="Khay giải quyết nổi buồn">
                    <div class="caption">
                      <h4>Khay giải quyết nổi buồn</h4>
                      <p>Giá: 150.000 VNĐ</p>
                      <p><a href="#" class="btn btn-info" role="button"><i class="fa fa-shopping-cart"></i> Mua ngay</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="images/products/2138_RoyalCanin-ClubProAdult20kg.jpg" class="img-rounded" alt="Hạt này ăn mau mập lắm">
                    <div class="caption">
                      <h4>Hạt này ăn mau mập lắm</h4>
                      <p>Giá: 150.000 VNĐ</p>
                      <p><a href="#" class="btn btn-info" role="button"><i class="fa fa-shopping-cart"></i> Mua ngay</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="more-prod"><a href="#" target="_blank">Xem thêm sản phẩm...</a></p>
            </div>
          </div> 

          <div class="panel panel-danger panel-prod">
            <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i> Sản phẩm dành cho mèo</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="images/products/default-img.jpg" class="img-rounded" alt="Mều ngốc ngếch">
                    <div class="caption">
                      <h4>Mều ngốc ngếch</h4>
                      <p>Giá: 150.000 VNĐ</p>
                      <p><a href="#" class="btn btn-info" role="button"><i class="fa fa-shopping-cart"></i> Mua ngay</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="images/products/2577_tui_pet_phi_hanh_gia_pet_city2.jpg" class="img-rounded" alt="Balo phi hành gia">
                    <div class="caption">
                      <h4>Balo phi hành gia</h4>
                      <p>Giá: 150.000 VNĐ</p>
                      <p><a href="#" class="btn btn-info" role="button"><i class="fa fa-shopping-cart"></i> Mua ngay</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="images/products/2953_cay_meo_leo_afp_nature_cozy_petcity_1.jpg" class="img-rounded" alt="Cây cho mèo phá">
                    <div class="caption">
                      <h4>Cây cho mèo phá</h4>
                      <p>Giá: 150.000 VNĐ</p>
                      <p><a href="#" class="btn btn-info" role="button"><i class="fa fa-shopping-cart"></i> Mua ngay</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="more-prod"><a href="#" target="_blank">Xem thêm sản phẩm...</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="panel panel-primary panel-post">
            <div class="panel-heading panel-heading-prod"><i class="fa fa-comments-o"></i> Bài viết chăm sóc thú cưng</div>
            <div class="panel-body panel-body-post">
              <h4><a href="#">Cách nuôi mèo mau mập và không hung dữ</h4></a>
              <p>Làm sao để mèo mau mập, không cắn chủ và bớt láo? Hãy xem ngay bài viết sau đây.</p>

              <h4><a href="#">Làm shao để Husky bớt ngáo, bớt quậy phá</h4></a>
              <p>Bạn đang nuôi 1 con "báo" Husky và bạn thấy nó phá quá. Hãy bán nó đi, như vậy bạn sẽ thoải mái hơn!</p>
            </div>
            <div class="panel-footer">
              <p class="more-prod"><a href="#" target="_blank">Xem thêm bài viết...</a></p>
            </div>
          </div>

          <div class="panel panel-success panel-post">
            <div class="panel-heading panel-heading-prod"><i class="fa fa-paper-plane"></i> Quảng cáo</div>
            <div class="panel-body panel-body-post">
              <img src="images/products/3152_chic_cham_dau_tam_cam_petcity.png" class="img-rounded img-adv"alt="Quảng cáo"/>
              <marquee>Hãy luôn chăm sóc tốt nhất cho cục cưng của bạn bằng cách tắm chúng với sữa tắm dành riêng cho chó - mèo đạt chuẩn an toàn!</marquee>
            </div>
          </div>

          <div class="youtube">
            <iframe width="110%" height="300" src="https://www.youtube.com/embed/YV07A50O8g4?si=rL-wjRdamiOMcZ56" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>

          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206985418705!2d106.78253487570396!3d10.855572157727538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gKFRodSBEdWMgQ2FtcHVzKQ!5e0!3m2!1svi!2s!4v1710172843840!5m2!1svi!2s" width="110%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container container-footer">
        <div class="col-md-8">
          <h4>PET'S STORE - Cửa hàng dành cho thú cưng</h4>
          <p>Địa chỉ: HUTECH Thuduc Campus - Khu CNC, Phường Hiệp Phú, Tp. Thử Đức, Tp. Hồ chí Minh</p>
          <p>SĐT: <a class="info" href="tel:0868895261">086.8895.261</a> (Phước Nguyễn)</p>
          <p>Email: <a class="info" href="mailto: 12345@gmail.com">12345@gmail.com</a></p>
        </div>

        <div class="col-md-4">
          <img src="images/banner-1.png" alt="logo"/>
          <p></p>
          <p>Số lượng truy cập hiện tại: 100</p>
        </div>
      </div>
    </div>

    <div id="modalSignup" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Đăng ký</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" placeholder="Nhập username" required>
              </div>
              <div class="form-group">
                  <label for="fullname">Họ tên:</label>
                  <input type="text" class="form-control" id="fullname" placeholder="Nhập họ tên" required>
              </div>
              <div class="form-group">
                  <label for="address">Địa chỉ:</label>
                  <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ">
              </div>
              <div class="form-group">
                  <label for="phone">Số điện thoại:</label>
                  <input type="tel" class="form-control" id="phone" placeholder="Nhập số điện thoại">
              </div>
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Nhập email" required>
              </div>
              <div class="form-group">
                  <label for="password">Mật khẩu:</label>
                  <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required>
              </div>
              <div class="form-group">
                  <label for="confirmPassword">Nhập lại mật khẩu:</label>
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Nhập lại mật khẩu" required>
              </div>
              <button type="submit" class="btn btn-primary">Đăng ký</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="modalLogin" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Đăng nhập</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" placeholder="Nhập username" required>
              </div>
              <div class="form-group">
                  <label for="password">Mật khẩu:</label>
                  <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required>
              </div>
              <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </form>
          </div>
        </div>
    
    </div>
</div>
<div class="container" layout:fragment="content"></div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
